/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

@import '../node_modules/@ag-grid-community/all-modules/dist/styles/ag-grid.css';
@import '../node_modules/@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.grid-container-main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid-container-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.mrg-3 {
	margin: 0.3em;
}

button[fixed-r-b] {
	position: fixed;
	bottom: 20px;
	right: 35px;
	z-index: 2;
}

mat-sidenav-container {
	background-color: rgb(216, 214, 214);
}

mat-card {
	background: #c5ddff80 !important;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-alg-center {
	display: flex;
	align-items: center;
}

.flex-space-around {
	display: flex;
	justify-content: space-around;
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 2rem;
}

.form-item {
	margin: 0.3em;
	padding: 0.3em;
}

.form-item-actions {
	button {
		margin: 0.15em;
	}
}

.div-ag-grid {
	height: 100%;
	padding-top: 35px;
	box-sizing: border-box;
}
.ag-grid-main {
	width: 100%;
	height: calc(100vh - 100px);
}

.toolbar {
	border-right-style: solid;
	border-width: thin;
	border-color: #b7b7b7;
	padding: 25px;
	color: black;
}

.ag-header-group-cell-with-group {
	background-color: #94ceca;
}

.check-row {
	/* add these */
	text-align: center;
	margin-top: 45%;
}

.custom-expand-button {
	float: right;
	margin-top: 2px;
	margin-left: 3px;
}

.expanded {
	animation-name: toExpanded;
	animation-duration: 1s;
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}

.collapsed {
	color: #e1ffe9;
	animation-name: toCollapsed;
	animation-duration: 1s;
	-ms-transform: rotate(0deg); /* IE 9 */
	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	transform: rotate(0deg);
}

.custom-sort-down-label {
	margin-left: 10px;
}

.custom-sort-up-label {
	margin-left: 1px;
}

.custom-sort-remove-label {
	float: left;
	font-size: 11px;
}

.active {
	color: #caffde;
}

@keyframes toExpanded {
	from {
		color: #caffde;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
	}
	to {
		color: black;
		-ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		transform: rotate(180deg);
	}
}

@keyframes toCollapsed {
	from {
		color: black;
		-ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		transform: rotate(180deg);
	}
	to {
		color: #caffde;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
	}
}

.custom-header-label {
	float: left;
	margin: 0 0 0 3px;
}

.custom-sort-down-label {
	float: left;
	margin: 0 0 0 3px;
}

.custom-sort-up-label {
	float: left;
	margin: 0;
}

.custom-sort-remove-label {
	float: left;
	margin: 0 0 0 3px;
	font-size: 11px;
}

.active {
	color: #caffde;
}

/* input {
	transform: scale(1.5);
} */

.flex-checkbox {
	display: flex;
	justify-content: space-around;
}

.flex-checkbox-row {
	padding-top: 2%;
}

.checkbox-flex-header {
	display: flex;
	justify-content: space-around;
}

.ag-theme-balham .ag-row-selected {
	background-color: #e1ffe9;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
	background-color: #90f0b4;
}

.ag-grid-checkbox:checked:after {
	content: '\2714';
	box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.15);
	border-radius: 3px;
	height: 12px;
	display: block;
	width: 12px;
	text-align: center;
	font-size: 9px;
	color: white;
}
