<form [formGroup]="regForm" class="form">
	<div class="form-item">
		<mat-form-field>
			<input
				matInput
				id="username"
				type="text"
				required="required"
				maxlength="15"
				placeholder="Username"
				formControlName="username"
				name="username"
			/>
			<mat-error *ngIf="fieldHasError('email')">{{ getErrorMessage('email') }}</mat-error>
		</mat-form-field>
	</div>
	<div class="form-item">
		<mat-form-field>
			<input
				matInput
				id="password"
				type="password"
				required="required"
				maxlength="50"
				placeholder="password"
				formControlName="password"
				name="password"
			/>
			<mat-error *ngIf="fieldHasError('password')">{{ getErrorMessage('password') }}</mat-error>
		</mat-form-field>
	</div>
	<div>
		<button mat-raised-button color="primary" [disabled]="disableBtn" (click)="reg()">Register</button>
		<button mat-raised-button (click)="redirectService.redirectTo('login')">Login</button>
	</div>
</form>
